html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    transform: translateZ(0);
}

html {
    position: relative;
    min-height: 100%;
    perspective: 1000px;
    justify-content: center;
    align-items: center;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
    max-height: 400px;
    overflow-y: scroll;
}

table {
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tbody tr:hover {
    background-color: #ffc107;
}

th {
    background-color: #ffc107;
    color: black;
}

.fixed-column {
    position: sticky;
    left: 0;
    z-index: 1;
}

td.fixed-column {
    background-color: #ffc107;
}
@media screen and (max-width: 768px) {
    table {
        width: 350px;
        align-content: center;
    }
    div{
        justify-content:center;
    }
    thead {
        display: none;
        align-content: center;
    }
    tbody {
        align-content: center;
    }
    tr {
        display: block;
        margin-bottom: 40px;
        border-radius: 5px;
        border: 1px solid white;
        top: 110px;
        align-content:center;
       
    }

        tr td {
            display: block;
            width: 100%;
            height: 40px;
            position: relative;
            white-space: pre-wrap;
            border: none;
            border-bottom: 1px solid white;
            text-align: end;
        }
            tr td:nth-child(1) {
                color: BLACK;
                padding: 8px;
                border-radius: 5px 5px 0 0;
                content: attr(name);
                font-weight: bold;
                background-color: #ffc107;
            }

            tr td:not(:nth-child(0))::before {
                content: attr(name);
                position: absolute;
                top: -15px;
                left: 0;
                font-weight: bold;
                text-align: left;
                width: 100%;
                padding: 10px 8px;
            }
}

.navbar-nav {
    display:inline-flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
}

.nav-item {
    margin:10px 10px;
    padding: 0px 7px;
}

.nav-link {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 13px;
    transition: background-color 0.3s ease;
}

    .nav-link:hover {
        background-color: #ffc107;
    }

a {
    text-decoration: none;
    color: black;
    display: block;
}

   /* a:hover {
        border-radius: 15px;
        background-color: white;
    }*/
.button-link {
    display: inline-block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    border-radius: 15px;
    background-color: white; 
    transition: background-color 0.3s ease; 
}

    .button-link:hover {
        background-color: #ffc107
    }

dt, dd {
    display: inline;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid;
    text-align: center;
    margin: 15px 0;
    padding: 8px 16px;
    transition: all 0.3s;
    transform-style: preserve-3d;
}

    li:hover {
        transform: perspective(500px) rotateX(5deg);
    }
@media screen and (max-width: 600px) {
    
    ul {
        list-style-type: none;
        padding: 30PX;
    }

    li {
        border: 1px solid;
        text-align: center;
        display: block;
        margin: 10px 0;
        padding: 20px;
    }

        li:hover {
            transform: perspective(500px) rotateX(5deg);
        }
        a{
            text-decoration: wavy;
            text-align : center;
            font-family:Arial;
        }
}