@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome";
}
<div>
    <a asp-action="Login" asp-controller="Login" class="nav-link text-dark">Go to Login</a>
</div>
<h2>WELCOME</h2>
        <p>Welcome Message from @ViewData["Message"]</p>